.card {
  width: calc(25% - 22.5px);
  padding: 74px 20px 20px;
  position: relative;
  overflow: visible; // Разрешаем выход элементов за границы карточки
  z-index: 1;
  transition: all 0.3s ease;
  background: #fff;

  &:hover {
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1); // Мягкая тень внутри карточки

    .card__sizes {
      top: 300px;
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, 0);
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__category {
    font-size: 11px;
    padding: 6px 0 9px;
  }

  &__fav {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease-in;
    &:hover {
      transform: scale(1.3);
    }
  }

  &__sizes {
    position: absolute;
    top: calc(100% + 10px); // Отступ от карточки
    left: 50%;
    width: 100%;
    background: white;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, 0);
    z-index: 20;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1); // Мягкая тень внутри карточки
    transition: all 0.3s ease; // Плавный переход
    clip-path: inset(0 -10px -10px -10px); // Обрезаем тень по краям
  }

  &__sizes-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0 15px;
  }

  &__sizes-size {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 9px;

    span {
      font-size: 9px;
      color: #c4c4c4;
    }
  }

  &__sizes-btn {
    background: var(--main-color);
    font-size: 13px;
    color: #fff;
    padding: 12px 40px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.6s ease;
    &:hover {
      background-color: var(--lightmain-color);
    }
  }

  &__sizes-count {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 20px;
  }

  &__sizes-btnsmall {
    background-color: var(--main-color);
    padding: 5px 12px;
    color: var(--white-color);
    font-weight: 600;
    font-size: 20px;
    transform: scale(1.05);
    transition: background-color 0.4s ease, transform 0.3s ease;
    &:hover {
      background-color: var(--lightmain-color);
      transform: scale(1.07);
    }
  }
}
