.footer {
  &__title {
    padding-top: 100px;
    font-weight: 500;
    font-size: 14px;
    line-height: 127%;
    color: var(--black-color);
    text-align: center;
  }

  &__top {
    padding: 10px 0 20px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 750px) {
      flex-direction: column;
      row-gap: 20px;
      align-items: center;
    }

    &-row {
      display: flex;
      gap: 50px;
      @media (max-width: 485px) {
        gap: 20px;
        text-align: center;
      }
      @media (max-width: 750px) {
        text-align: center;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (max-width: 485px) {
        a {
          font-size: 14px;
        }
      }
    }

    &-lm {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 25px;
      @media (max-width: 750px) {
        flex-direction: row;
      }
      p {
        position: absolute;
        bottom: 50px;
        font-weight: 900;
        font-size: 42px;
        color: var(--black-color);
        @media (max-width: 750px) {
          position: static;
        }
      }
      span {
        font-size: 14px;
        line-height: 127%;
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 750px) {
      flex-direction: column;
    }
  }
  &__bottom {
    padding: 22px;
    background-color: var(--black-color);

    a {
      color: var(--white-color);
    }

    &-row {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      @media (max-width: 620px) {
        flex-direction: column;
        gap: 20px;
      }

      span {
        color: var(--white-color);
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        font-size: 12px;
        line-height: 127%;
      }

      svg {
        fill: var(--white-color);
        width: 22px;
        height: 22px;
      }
    }
  }
}
