.hitsale {
  padding: 20px 0 10px;
  text-align: center;
  &__title {
    margin-bottom: 35px;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 150px;
  }

  &__load-more {
    background: var(--main-color) !important;
    color: var(--white-color) !important;
  }
}
